body {
  background: red !important;
}


body {
  font-family: sans-serif;
  direction: rtl;
  padding: 20px;
  background: #020617;
  color: #e5e7eb;
}

h2, h3 {
  color: #f8fafc;
}

button {
  background: #6366f1;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  margin: 8px 0;
  cursor: pointer;
}

button:hover {
  background: #4f46e5;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #020617;
  border: 1px solid #334155;
  color: white;
  border-radius: 8px;
}

pre {
  background: #020617;
  border: 1px solid #334155;
  padding: 10px;
  border-radius: 8px;
  max-height: 250px;
  overflow: auto;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 14px;
  margin-top: 20px;
}
textarea {
  width: 100%;
  height: 100px;
  background: #020617;
  color: white;
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 8px;
}
button.danger {
  background: #dc2626;
}
