services:
  backend:
    build:
      context: ./backend
    container_name: fortigate_backend
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: fortigate_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always